{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<form id="change_password" action="{% url 'change_password' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <h2>Change Password Form:</h2>
  <hr>
  <label class="float-label" for="id_old_password">Old Password:</label>
  {{ form.old_password|attr:"class:form-control"|attr:"type:password"|attr:"required:true"|attr:"autocomplete:off" }}
  <br><br>
  <label class="float-label" for="id_new_password">New Password</label>
  {{ form.new_password|attr:"class:form-control"|attr:"type:password"|attr:"required:true"|attr:"autocomplete:off" }}
  <br><br>
  <label class="float-label" for="id_confirm_new_password">Confirm New Password:</label>
  {{ form.confirm_new_password|attr:"class:form-control"|attr:"type:password"|attr:"required:true"|attr:"autocomplete:off" }}
  <br><br>
  <button type="submit">Submit</button>
</form>
{% endblock %}

{% block custom_js%}
{% endblock %}
